@page "/Info"

<h1>Wedding Information</h1>

<br />
<p></p>

<h3>Venue:</h3>

<br />

<img style="min-width:300px;width:45vw;height:30vh;margin-bottom:10px" src="/Images/lodge-above.jpeg" />

<br />
<p>
    On the 24th of October this year (2021) we shall be getting married in The Lodge On
    Loch Lomond situated on the banks of loch lomond in the village of luss.
</p>
<p>
    The hotel comes with it's own private beach which, if the weather is good, we will be having our wedding on.
</p>
<p>
    Rooms are available at a discounted rate for wedding guests, in order to book please call 01436 860 201 stating you are attending the McGinley McLaren Wedding.
</p>

<br />
<p></p>

<h3>Approximate Running Order:</h3>

<br />

<p><strong>2.00pm    Cerimony</strong></p>
<p><strong>3.00pm    Drinks Reception</strong></p>
<p><strong>5.00pm    Meal</strong></p>
<p><strong>8.00pm    Ceilidh</strong></p>
<p><strong>10.00pm   Covers/Modern Music</strong></p>
<p><strong>12.00am   Bar Closes</strong></p>

<p></p>




@code {

}
