<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Craig & Pauline's Wedding</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> RSVP
            </NavLink>
            <NavLink class="nav-link" href="/GiftList" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span> Gift List
            </NavLink>
            <NavLink class="nav-link" href="/Info" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Wedding Info
            </NavLink>
        </li>
    </ul>
</div>

@code {
    //style="background-image:url(/Images/pumpkin.jpeg)
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
